@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body { 
    font: 12pt Arial;
    text-align: center;
    background-color: rgb(139, 170, 170);
    margin-top: 4rem;
}
h1, h2, h3 {
    font-family: 'Pacifico', cursive; font-weight: normal;
}

button,input { 
    font-size: 12pt; padding: 20px; 
}